@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    background-image: url("https://wallpapertag.com/wallpaper/full/2/6/5/460280-cool-space-background-wallpapers-1920x1080-for-hd-1080p.jpg");
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    padding-left: 2rem;
    color: #394F9F;
}

li {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    color: white;
}

p {
    color: white;
}
